.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}

.custom-select.form-control-sm {
    padding: 0.25rem 1.5rem;
}

.c-sidebar {
    background: rgb(22,0,40);
    background: -moz-linear-gradient(90deg, rgba(22,0,40,1) 0%, rgba(46,26,71,1) 35%, rgba(205,145,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(22,0,40,1) 0%, rgba(46,26,71,1) 35%, rgba(205,145,255,1) 100%);
    background: linear-gradient(90deg, rgba(22,0,40,1) 0%, rgba(46,26,71,1) 35%, rgba(205,145,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#160028",endColorstr="#cd91ff",GradientType=1);
}

.list-group-item.active {
    z-index: 2;
    color: #0b0b0b;
    background-color: #C7C7C7;
    border-color: #313131;
}

.required::after {
    content: " *";
    color: red;
}

.img-fluid, .img-thumbnail {
    max-width: 900px;
    height: 400px;
}

.gradient-custom-2 {
    background: rgb(22,0,40);
    background: linear-gradient(90deg, rgba(22,0,40,1) 0%, rgba(46,26,71,1) 35%, rgba(205,145,255,1) 100%);
}

.form-check-input {
/* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}

.form-control:disabled, .form-control[readonly] {
    background-color: #F5F5F5; 
    opacity: 1;
}

#card1 .card-header {
    transition: background-color 0.5s ease;
}

#card2 .card-header {
    transition: background-color 0.5s ease;
}

#card1 .card-header.collapsed {
    background-color: #f9b115a6
}

#card2 .card-header.collapsed {
    background-color: #f9b115a6
}

#card3 .card-header.collapsed {
    background-color: #f9b115a6
}

#card4 .card-header.collapsed {
    background-color: #f9b115a6
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

@media (hover: hover) {
    .c-sidebar .c-sidebar-nav-dropdown-toggle:hover, .c-sidebar .c-sidebar-nav-link:hover {
        color: #fff;
        background: #BBA14F;
    }
}
