#container {
    float: left;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* It's supposed to look like a tree diagram */
.tree, .tree ul, .tree ol, .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}
.tree, .tree ul, {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tree ul, .tree ol {
  width: auto;
}
    .tree li {
        display: inline-grid;
        padding: .2em 0;
        vertical-align: top;
    }
        /* _________ */
        .tree li:before {
            outline: solid 1px #7C219E;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .tree li:first-child:before {left: 50%;}
        .tree li:last-child:before {right: 50%;}

        .tree code, .tree span {
            border-radius: .2em;
            display: inline-block;
            position: relative;
            font-size: 10px;
        }
        /* If the tree represents DOM structure */
        .tree code {
            font-family: monaco, Consolas, 'Lucida Console', monospace;
        }
            /* | */
            .tree ul:before,
            .tree code:before,
            .tree span:before {
                outline: solid 1px #7C219E;
                content: "";
                height: .5em;
                left: 50%;
                position: absolute;
            }
            .tree ul:before {
                top: -.5em;
            }
            .tree code:before,
            .tree span:before {
                top: -.55em;
            }

/* The root node doesn't connect upwards */
.tree > li {margin-top: 0;}
    .tree > li:before,
    .tree > li:after,
    .tree > li > code:before,
    .tree > li > span:before {
      outline: none;
    }

.sub-menu, .child-menu1, .child-menu2, .child-menu3, .child-menu4,
.child-menu5, .child-menu6, .child-menu7, .child-menu8, .child-menu9,
.child-menu10, .child-menu11, .child-menu12, .child-item1, .child-item2
{
    display:none;
    overflow: hidden;
}

.menu-item {
    display: inline-block;
}

div.scroll {
    overflow: auto;
    white-space: nowrap;
    width: auto;
}

@media only screen and (max-width: 600px) {
    .tree, .tree ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .tree, .tree ul {
        display: flex;
        justify-content: center;
        align-items: center;
    },
    div.scroll {
        overflow: auto;
        white-space: nowrap;
        width: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .tree, .tree ul {
        display: flex;
        justify-content: center;
        align-items: center;
    },
    div.scroll {
        overflow: auto;
        white-space: nowrap;
        width: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .tree, .tree ul {
        display: flex;
        justify-content: center;
        align-items: center;
    },
    div.scroll {
        overflow: auto;
        white-space: nowrap;
        width: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .tree, .tree ul {
        display: flex;
        justify-content: center;
        align-items: center;
    },
    div.scroll {
        overflow: auto;
        white-space: nowrap;
        width: auto;
    }
}

