.movie-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.movie-container .header {
    font-size: 24px;
    margin: 8px 0px;
    font-weight: 700;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 16px;
    min-width: 250px;
    height: 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.seat {
    background-color: #1ac728;
    height: 40px;
    width: 48px;
    margin: 8px;
    /*border-top-left-radius: 22px;*/
    /*border-top-right-radius: 22px;*/
}

.seat:nth-of-type(2) {
    /*margin-right: 32px;*/
}

.seat:nth-last-of-type(2) {
    /*margin-left: 32px;*/
}

.space {
    margin-left: 32px;
    margin-right: 32px;
    background-color: #fafafa;
}

.seat.selected {
    background-color: #4f95ff;
}

.seat.occupied {
    background-color: #fa1b1b;
}

.row-seat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-seat .seat {
    cursor: pointer;
    transition: all .5s ease;
}

.row-seat .seat:not(.occupied):hover {
    border: 1px solid #fafafa;
    transform: scale(1.2);
    transition: all .5s ease;
    /* box-shadow: 1px 2px 3px; */
}

.showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(0, 0, 0, .1);
    color: #777;
    padding: 10px 12px;
    margin-bottom: 24px;
    border-radius: 4px;
    font-weight: 600;
}

.showcase li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0 10px;
}

.showcase .seat {
    margin: 0px;
    height: 16px;
    width: 20px;
}

.showcase small {
    margin-left: 12px;
}

.container {
    perspective: 1000px;

}

.screen {
    height: 45px;
    /*width: 100%;*/
    background-color: #fafafa;
    margin: 32px;
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.8);
    transform: rotateX(-30deg);
}

.seatGap
{
  width:40px;
}

.seatVGap
{
  height:40px;
}

.seat-overview-wrapper {
    border: 1px solid rgb(146 52 217 / 7%);
    border-radius: 2px;
    padding: 15px 10px;
    position: sticky;
    top: 100px;
}

.seat-plan-inner .single {
    position: relative;
    border: 0.5px solid #00000028;
    min-height: 150px;
    max-width: 100%;
    padding: 80px 25px 30px;
    margin-bottom: 55px;
}

.seat-wrapper {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}

.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.bg--base {
    background: #9e13a8 !important;
}

input[type=checkbox] {
    width:0px;
    margin-right:45px;
    margin-bottom: 30px;
}

input[type=checkbox]:before {
    content: "";
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color: #1ac728;
}

input[type=checkbox]:checked:before {
    background-color: #4f95ff;
    font-size: 15px;
}

table
{
  text-align:center;
}


.Displaytable
{
  text-align:center;
}
.Displaytable td, .Displaytable th {
    border: 1px solid;
    text-align: left;
}

textarea
{
  border:none;
  background:transparent;
}

/*MEDIA QUERYS*/
@media only screen and (max-width:599px) {
    .seat {
        height: 18px;
        width: 22px;
        margin: 4px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .seat:nth-of-type(2) {
        margin-right: 16px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 16px;
    }
}

@-webkit-keyframes showlink {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes showlink {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}
